<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.animal_project">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true">

        <activity
            android:screenOrientation="portrait"
            android:name=".MultipleAnswerResult.AvoidDistanceDetailSearchResult"
            android:exported="false" />
        <activity
            android:screenOrientation="portrait"
            android:name=".MultipleAnswerResult.MultipleAnswerSearchResultActivity"
            android:exported="false" />
        <activity
            android:screenOrientation="portrait"
            android:name=".Result.DetailSearchAdminMemberActivity"
            android:exported="true" />
        <activity
            android:screenOrientation="portrait"
            android:name=".Result.ResultActivity"
            android:exported="true" />
        <activity
            android:screenOrientation="portrait"
            android:name=".MilkCow.FreeStallCountDong" />
        <activity
            android:name=".MilkCow.MilkCowStruggleDong"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Beef.ProtocolFour.AvoidDistanceCowQuestions"
            android:screenOrientation="portrait"/>
        <activity android:name=".Beef.ProtocolFour.BreedHarmonyDong"
            android:screenOrientation="portrait"/>
        <activity android:name=".Beef.ProtocolFour.BreedStruggleDong"
            android:screenOrientation="portrait"/>
        <activity android:name=".Beef.ProtocolThree.BreedCoughDong"
            android:screenOrientation="portrait"/>
        <activity android:name=".Beef.ProtocolTwo.BreedStrawDong"
            android:screenOrientation="portrait"/>
        <activity android:name=".Beef.ProtocolOne.WaterTimeDong"
            android:screenOrientation="portrait"/>
        <activity android:name=".QuestionTemplate"
            android:screenOrientation="portrait"/>
        <activity android:name=".WebViewActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".InputUserInfo"
            android:screenOrientation="portrait"/>
        <activity android:name=".SearchActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Result.DetailSearchNormalMemberActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>